// variables couleurs

$white: #FFFFFF;
$lite-green: #99E2D0;
$black: #101010;
$gray: #353535;
$background: #F6F6F6;
$gradient_button: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$primary-purple: #9356DC;
$primary-green: #008766;
$primary-grey: #7E7E7E;
$light-gray: #EAEAEA;
$dark: #000000;



