//animation delay for each section

// Keyframes for the animation

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Animate the sections
#entrees {
    @include fadeInUp(0.5s);

    .meal__list > .meal__content:nth-child(1) {
        @include fadeInUp(1s);
    }
    .meal__list > .meal__content:nth-child(2) {
        @include fadeInUp(1.2s);
    }
    .meal__list > .meal__content:nth-child(3) {
        @include fadeInUp(1.4s);
    }
}

#plats {
    @include fadeInUp(1s);

    .meal__list > .meal__content:nth-child(1) {
        @include fadeInUp(1.5s);
    }
    .meal__list > .meal__content:nth-child(2) {
        @include fadeInUp(1.7s);
    }
    .meal__list > .meal__content:nth-child(3) {
        @include fadeInUp(1.9s);
    }
}

#dessert {
    @include fadeInUp(1.5s);

    .meal__list > .meal__content:nth-child(1) {
        @include fadeInUp(2s);
    }
    .meal__list > .meal__content:nth-child(2) {
        @include fadeInUp(2.2s);
    }
    .meal__list > .meal__content:nth-child(3) {
        @include fadeInUp(2.4s);
    }
}

.meal__list > .meal__content {
    position: relative;
}


//animation pour le checkbox

// Style for the meal-checkbox



.price .meal__text {
    transition: transform 0.3s ease-out;
    position: relative; // Pour que le positionnement absolu de .meal-checkbox fonctionne correctement
    z-index: 1;
}


.meal-checkbox {
    display: flex;
    align-items: center;
    position: absolute;
    right: -45px; // Placer juste à côté de .price initialement
    width: 45px;
    height: 100%;
    background-color: $light__green;
    opacity: 0;
    transition: all 0.3s ease-out;
    border-radius: 0 15px 15px 0;
    justify-content: center;

    i {
        font-size: 20px;
        color: white;
    }
}

.meal__content:hover .meal-checkbox {
    opacity: 1;
    right: 0; // Déplacer à la position initiale
}

.meal__content:hover .price {
    transform: translateX(-45px); // Déplacer vers la gauche quand on survole .meal__content
}


