// Mixin pour simplifier la définition des bordures arrondies
@mixin btn {

    border-radius: 40px;
    background: $btn;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
}

