// definition des variables couleurs

$lite__green : #99E2D0;
$dark__gray : #353535;
$gradient__button : linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$primary__purple : #9356DC;
$primary__green : #008766;
$primary__grey : #7E7E7E;
$background_section : #EAEAEA;
$dark : #000000;

//cards
$cards-border-radius : 8px;
$cards-box-shadow : 0 4px 8px rgba(0, 0, 0, 0.1);
//fonts

$text-font : "Roboto", sans-serif;
$title-font : "Shrikhand", cursive;