footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    &_title {
        font-size: 17px;
        margin-left: 30px;
        font-style: italic;
        padding: 10px;
        &_nav {
            margin-left: 5px;
        }
    }
}