//sass/_header.scss 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
    padding: 25px 0;
    
    .back-arrow {
        position: absolute;
        left: 25px;
        top: 35px;
        font-size: larger;
    }

    .logo {
        width: 200px;
        height: 36px;
}

}

// À faire 
//hover fonctionnement l'element:hover ~ .fonctionnement__number


