//sass/_header.scss 
header {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Remplacer le H1 par une img
// input pour "paris"
// revoir les marges de la partie du button
// ombre sur le button

