//localisation paris-belleville

.main-location {
	background-color: #eaeaea;
    overflow: hidden; /* Masquer la barre de défilement */
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.5);
	
	&__input {
		border: none; /* Supprimer la bordure par défaut */
		color: pink; /* Couleur du texte */
		background-color: #eaeaea;
		font-size: 16px;
		font-weight: 500;
	}
}

//details du restaurant avec bouton

.details {

	margin-top: 5px;
	display: flex;
	flex-direction: column;
	background-color: $background_section;
	padding-bottom: 20px;
	&__title {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		color: #000000;

	}
	&__text {
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		color: #353535;
		
	}

	&__btn {
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		margin: 20px;
    	@include btn;
	}
}


//section--fonctionnement


.menu {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	


	&-sort {
		display: flex;
		flex-direction: column;
		padding: 0 30px;
		gap: 20px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: center;
			gap: 50px;
			margin-left: 8%;
			margin-right: 8%;
		}

		li {
			display: flex;
			font-size: 16px;
			font-weight: 500;
			align-items: center;
			padding: 20px;
			border-radius: 20px;
			background-color: $background_section;
			gap: 20px;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
			

			.menu-sort__number {
				margin-left: -30px;
				border-radius: 50%;
				background-color: $primary__purple;
				color: #eaeaea;
				padding: 5px 10px;
			}

			&:hover .icons {
				color: $primary__purple;
			}
		}
	}
}



//section--restaurant
.restaurant {
	display: flex;
	flex-direction: column;
	background-color: $background_section;
	padding-bottom: 20px;

	@media screen and (min-width: 768px) {
		
		.restaurant {
			display: flex;
			flex-direction: row;
		}
	}
	
	.restaurant-cards {
		align-items: center;
		display: grid;
		padding: 20px;
		gap: 15px;
		
	
		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
			justify-content: center;
			gap: 40px;
			align-items: center;
			margin-left: 9%;
			margin-right: 9%;
		}
	
			.cards {
				
				background-color: white;
				border-radius: 20px;
				margin: auto;
				display: grid;
				grid-template-columns: 70% 30%;
				grid-template-rows: 65% 35%;
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				width: 100%;
				height: 250px;
					
				.cards-link {
					grid-area: 1 / 1 / 2 / 3;
					
					.cards-image {
					
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 20px 20px 0 0;
				    }
				}
				
					.cards-content {
						
						grid-area: 2 / 1 / 3 / 2;
						margin-left: 15px;
						margin-top: 20px;
						&__title {
							font-size: 18px;
							font-weight: 700;
							margin-bottom: 0;
						}
						.cards__subtitle {
							margin-top: 5px;
							font-size: 17px;
							font-weight: 300;
						}
					}
							.cards__heart {
								grid-area: 2 / 2 / 3 / 3;
								@include heart-toggle;
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: larger;	
								margin-bottom: 20px;
							}
								.cards__new {
									grid-area: 1 / 2 / 2 / 3;
									padding: 10px;
									.new {
										@include new;
									}
								}
			}
	}
}
		
