@charset "UTF-8";
.picture {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.details__btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition: opacity 300ms;
}
.details__btn:hover {
  opacity: 0.5;
}

.meal {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #F6F6F6;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .meal {
    justify-content: center;
  }
}
.meal .meal__title {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}
.meal .meal__section h2 {
  font-size: 16px;
  color: black;
  font-weight: 300;
  border-bottom: 2px solid #99E2D0;
}
.meal .meal__list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .meal .meal__list {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}
.meal .meal__list li {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  flex-direction: column;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .meal .meal__list li {
    width: 100%;
    height: 50px;
  }
}
.meal .meal__list li .meal-title {
  font-weight: bold;
  font-size: 18px;
}
.meal .meal__list li .meal-description {
  font-size: 15px;
}
.meal .meal__list li .price {
  font-weight: bold;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
  }
}
footer .footer_title {
  display: flex;
  font-size: 18px;
  margin-left: 30px;
  font-style: italic;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  footer .footer_title {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
}
footer .footer_nav {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer_nav {
    display: flex;
    margin-left: 5px;
    flex-direction: row;
    gap: 15px;
  }
}

.main-location {
  justify-content: center;
  display: flex;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.5), 0 -7px 7px -5px rgba(0, 0, 0, 0.5);
  /* Ombre en haut et en bas */
}

.details {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #F6F6F6;
}
.details__btn {
  margin: 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition: opacity 300ms;
}
.details__btn:hover {
  opacity: 0.5;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu li {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu {
    justify-content: center;
  }
}
.menu-title {
  margin-left: 20px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .menu-title {
    margin-left: 9%;
  }
}
.menu-sort {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .menu-sort {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
}
.menu-sort li {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  gap: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .menu-sort li {
    justify-content: center;
    width: 320px;
  }
}
.menu-sort .menu-sort__number {
  margin-left: -30px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 5px 10px;
}
.restaurant {
  background-color: #F6F6F6;
}
@media screen and (min-width: 768px) {
  .restaurant .restaurant {
    display: flex;
    flex-direction: row;
  }
  .restaurant .restaurant-title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .restaurant .restaurant-title {
    margin-left: 9%;
  }
}
.restaurant .restaurant-cards {
  align-items: center;
  display: flex;
  padding: 20px;
  gap: 15px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurant .restaurant-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    align-items: center;
  }
}
.restaurant .restaurant-cards .cards {
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant .restaurant-cards .cards {
    width: 40%;
  }
}
.restaurant .restaurant-cards .cards-image {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant .restaurant-cards .cards .cards-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.restaurant .restaurant-cards .cards .cards-content .cards__heart {
  font-weight: bold;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

body {
  background-color: white;
  margin: 0 auto;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  display: inline;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

h2 {
  display: inline;
  font-weight: 500;
  margin: 0;
  unicode-bidi: normal;
}

h3 {
  /* Nouvelles valeurs de style */
  display: inline; /* Changer en "inline" pour afficher les balises h3 en ligne */
  font-weight: 700;
  font-size: 18px;
  margin: 0; /* Changer la marge supérieure et inférieure à 0.5em et supprimer les marges gauche et droite */
  unicode-bidi: normal; /* Retirer la propriété unicode-bidi */
}

p {
  display: flex;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  unicode-bidi: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */