@charset "UTF-8";
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
}
footer_title {
  font-size: 17px;
  margin-left: 30px;
  font-style: italic;
  padding: 10px;
}
footer_title_nav {
  margin-left: 5px;
}

.main-location {
  justify-content: center;
  display: flex;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.5), 0 -7px 7px -5px rgba(0, 0, 0, 0.5); /* Ombre en haut et en bas */
}

.details {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #f6f6f6;
}
.details__btn {
  border-radius: 40px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .menu {
    justify-content: center;
  }
}
.menu-sort {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  margin-left: -20px;
}
@media screen and (min-width: 768px) {
  .menu-sort {
    flex-direction: row;
    justify-content: center;
  }
}
.menu-sort li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  gap: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.restaurant {
  background-color: #f6f6f6;
  border-radius: 20px;
}
.restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .restaurant-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

.cards {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}
.cards-image {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80px;
  margin-left: 10px;
}
.cards-content-title {
  display: inline;
  margin-top: 10px;
  margin-bottom: 0;
}
.cards-content-title-subtitle {
  display: inline;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.cards-content-title-subtitle-heart {
  display: flex;
  align-items: end;
  justify-content: end;
}

body {
  background-color: white;
  margin: 0 auto;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

h2 {
  display: inline;
  font-weight: 500;
  margin: 0;
  unicode-bidi: normal;
}

h3 {
  /* Nouvelles valeurs de style */
  display: inline; /* Changer en "inline" pour afficher les balises h3 en ligne */
  font-weight: 700;
  font-size: 18px;
  margin: 0; /* Changer la marge supérieure et inférieure à 0.5em et supprimer les marges gauche et droite */
  unicode-bidi: normal; /* Retirer la propriété unicode-bidi */
}

p {
  display: inline;
  font-size: 17px;
  margin: 0;
  font-weight: 300;
  unicode-bidi: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */